<a routerLink="../dashboard">Dashboard</a>
<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<ul class="heroes">
  <!-- <li [class.selected]="hero === selectedHero" *ngFor="let hero of heroes" (click)="onSelect(hero)"> -->
  <li *ngFor="let hero of heroes">
    <a routerLink="detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>
<button class="clear1" (click)="messageService.clear()">clear1</button>
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->