<div>
  <mat-card>
    <div class="alert alert-info">
      <strong>Html To PDF Conversion - Angular 6</strong>
    </div>
    <div>
      <input type="button" value="CPTURE" (click)="captureScreen()" />
    </div>
  </mat-card>
</div>
<div>
  <div id="gridcontainer">
    <div id="header">
      <img src="../../assets/SchlumbergerLogoH.png" id="slbimg">
      <div id="headerrowtwo">
        <h1>D&I Initializations</h1>
        <p style="text-align: end;">{{now}}</p>
      </div>
    </div>
    <div id="client">
      <p>Client:    qweqeqeqeqwe</p>
      <p>Job ID:  19OKC0898</p>
      <p>Field: asdasdadasda</p>
      <p>Well: zeus aaa</p>
    </div>
    <div id="bitrunangle">
      <div>Bit Run:  6</div>
      <div>Toolface Offset Angle: 30deg</div>
    </div>
    <div id="geomagmodel">
      Geomag Model Used: AWQEDAS
    </div>
    <div id="GeomagDate">
      <p>Geomag Date:</p>
      <p>2019123123123</p>
      <p>LMF Elev above MSL:</p>
      <p>asdasdadasdasd</p>
      <p>DF Elev above Permanent Datum:</p>
      <p>sadfsdfsdfsfsdf</p>
      <p>Latitude:</p>
      <p>12313131</p>
      <p>Longitude:</p>
      <p>12313131</p>
    </div>
    <div id="northref">
      <p>North Reference:</p>
      <p>Grid Convergence [g]: (Manual)</p>
      <p>Magnetic Declination [m]:</p>
      <p>Total Correction [t] = [m] - [g]:</p>
    </div>
    <div id="arrow">
      <img src="../../assets/angle.PNG" alt="">
    </div>

    <div id="location">
      <div>need inner table</div>
    </div>
    <div id="tip">
      <!-- <span id="tipspan">TIP</span> -->
      <table id="tipgrid">
        <tr>
          <th rowspan="2">TIP</th>
          <th>MD(ft)</th>
          <th>INCL(deg)</th>
          <th>AZIM(deg)</th>
          <th>TVD(ft)</th>
          <th>N/-S(ft)</th>
          <th>E/-W(ft)</th>
          <th>VSAZI(deg)</th>
        </tr>
        <tr>
          <td>1111</td>
          <td>1111</td>
          <td>1111</td>
          <td>1111</td>
          <td>1111</td>
          <td>1111</td>
          <td>1111</td>
        </tr>

        <!-- <p>MD(ft)</p>
        <p>INCL(deg)</p>
        <p>AZIM(deg)</p>
        <p>TVD(ft)</p>
        <p>N/-S(ft)</p>
        <p>E/-W(ft)</p>
        <p>VSAZI(deg)</p> -->

      </table>
    </div>
    <div id="customerrep">
      inner grid
    </div>


  </div>

</div>