//for print DNI hidden Dom
$Nopadding: 0px !important;

#gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, [col-start] max-content [col-end]);
    // gap: 5px;
    width: 700px;
    // border-bottom: 1px solid black;
    // border-left: 1px solid black;
    // border: 1px solid black;
    grid-template-areas:
        "header header "
        "client client"
        "bitrun angle "
        "GeomagDate arrow"
        "northref arrow"
        "geomagmodel geomagmodel"
        "location location"
        "tip tip"
        "customerrep customerrep";
}

#gridcontainer>div {
    border: 1px solid black;
}

#gridcontainer>* {
    padding: 10px;
}

#dniHeader {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    justify-items: flex-end;

    span:first-of-type {
        font: 40px RobotoBold;
        width: 100%;
    }

    img {
        width: 160px;
        height: 45px;
    }
}

#headerrowtwo {
    margin-top: 15px;
    display: flex;
    align-items: baseline;

    >* {
        flex: 1 1 50%;
    }
}


#dniClient {
    grid-area: client;
    display: grid;
    grid-template-columns: 80px auto;

    :nth-child(odd) {
        font-family: RobotoBold
    }

    :nth-child(even) {
        font-size: 0.8em;
    }
}

#dniBitRun {
    grid-area: bitrun;

    span:first-of-type {
        font-family: RobotoBold;
    }
}

#dniAngle {
    grid-area: angle;

    span:first-of-type {
        font-family: RobotoBold;
    }
}

#dniGeomagDate {
    grid-area: GeomagDate;
    display: grid;
    grid: repeat(7, 1fr)/repeat(2, max-content);
    justify-content: space-between;

    :nth-child(odd) {
        font-family: RobotoBold
    }

    :nth-child(even) {
        justify-self: flex-end;
    }
}

#dniNorthref {
    grid-area: northref;
    display: grid;
    grid: repeat(4, 1fr)/repeat(2, max-content);
    justify-content: space-between;

    :nth-child(even) {
        justify-self: flex-end;
    }

    :nth-child(odd) {
        font-family: RobotoBold
    }
}

#dniArrow {
    grid-area: arrow;

    // border: 0 1 0 0 !important;
    // display: block;
    // margin: 0 auto 0 auto;
    img {
        height: 300px;
    }
}

#dniGeomagmodel {
    grid-area: geomagmodel;

    :first-child {
        margin-right: 30px;
        font-family: RobotoBold
    }
}

#dniLocation {
    grid-area: location;
    display: grid;
    gap: 15px;
    grid: repeat(4, 1fr)/1.6fr 4fr 4fr;
    justify-items: center;
}

#dniTip {
    grid-area: tip;
    padding: $Nopadding;
    border: none !important;
}

#dniCustomerrep {
    grid-area: customerrep;
    display: grid;
    grid: 2fr 1fr 2fr 1fr/ max-content 2.5fr max-content 2.5fr;
    align-items: end;
    gap: 10px;
    font-family: RobotoBold;
}

hr {
    width: 100%;
    margin: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table,
th,
td {
    border: 1px solid black;
    height: 28px;
}

tr,
th {
    text-align: center;
}

th:first-child {
    width: 8%;
}

.bold {
    font-family: RobotoBold;
}

.alignleft {
    justify-self: flex-start;
}

.alignright {
    justify-self: flex-end;
}

.signaturedate {
    display: flex;
    justify-content: space-between;
}